# Lab 2

# Rik

In [1]:
'''# Lab | Customer Analysis Round 2

For this lab, we will be using the `marketing_customer_analysis.csv` file that you can find in the `files_for_lab` folder. Check out the `files_for_lab/about.md` to get more information if you are using the Online Excel.

**Note**: For the next labs we will be using the same data file. Please save the code, so that you can re-use it later in the labs following this lab.

### Dealing with the data

1. Show the dataframe shape.
2. Standardize header names.
3. Which columns are numerical?
4. Which columns are categorical?
5. Check and deal with `NaN` values.
6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. _Hint_: If data from March does not exist, consider only January and February.
7. BONUS: Put all the previously mentioned data transformations into a function.'''

'# Lab | Customer Analysis Round 2\n\nFor this lab, we will be using the `marketing_customer_analysis.csv` file that you can find in the `files_for_lab` folder. Check out the `files_for_lab/about.md` to get more information if you are using the Online Excel.\n\n**Note**: For the next labs we will be using the same data file. Please save the code, so that you can re-use it later in the labs following this lab.\n\n### Dealing with the data\n\n1. Show the dataframe shape.\n2. Standardize header names.\n3. Which columns are numerical?\n4. Which columns are categorical?\n5. Check and deal with `NaN` values.\n6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. _Hint_: If data from March does not exist, consider only January and February.\n7. BONUS: Put all the previously mentioned data transformations into a function.'

In [8]:
import pandas as pd

In [9]:
data = pd.read_csv('./files_for_lab/csv_files/marketing_customer_analysis.csv')

## 1. Show the dataframe shape.

In [10]:
data.shape

(10910, 26)

## 2. Standardize header names.

In [12]:
# First step: retrieve header names. 

data.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'Employment Status', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size', 'Vehicle Type'],
      dtype='object')

In [11]:
data = data.rename(columns={'EmploymentStatus':'Employment Status'})
data = data.drop(['Unnamed: 0'], axis = 1)

## 3. Which columns are numerical?

In [13]:
data._get_numeric_data().columns

Index(['Customer Lifetime Value', 'Income', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies',
       'Total Claim Amount'],
      dtype='object')

## 4. Which columns are categorical?

In [ ]:
The other ones.

## 5. Check and deal with `NaN` values.

In [22]:
data.isna().sum()

ID number                           0
Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
Employment Status                   0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim           633
Months Since Policy Inception       0
Number of Open Complaints         633
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64

In [14]:
round(data.isna().sum()/len(data),4)*100

Customer                          0.00
State                             5.78
Customer Lifetime Value           0.00
Response                          5.78
Coverage                          0.00
Education                         0.00
Effective To Date                 0.00
Employment Status                 0.00
Gender                            0.00
Income                            0.00
Location Code                     0.00
Marital Status                    0.00
Monthly Premium Auto              0.00
Months Since Last Claim           5.80
Months Since Policy Inception     0.00
Number of Open Complaints         5.80
Number of Policies                0.00
Policy Type                       0.00
Policy                            0.00
Renew Offer Type                  0.00
Sales Channel                     0.00
Total Claim Amount                0.00
Vehicle Class                     5.70
Vehicle Size                      5.70
Vehicle Type                     50.25
dtype: float64

### 5.1. In which our hero tackles the smaller quantities (everything but vehicle type)

In [ ]:
# This tells me I could drop the rows containing null values for the State, Response, Months Since Last Claim, Number of Open Complaints, Vehicle Class, and Vehicle Size columns.
# I'm also curious if the sets with the same number of NaN values (State&Response, Months Since Last Claim&Number of Open Complaints, Vehicle Class&Vehicle Size) overlap.

In [22]:
print(len(data[(data['State'].isna()) & (data['Response'].isna())]))
print(len(data[(data['Months Since Last Claim'].isna()) & (data['Number of Open Complaints'].isna())]))
print(len(data[(data['Vehicle Class'].isna()) & (data['Vehicle Size'].isna())]))

#And it turns out they do overlap, which makes me all the more confident that I can drop them (since I will only drop a max of 17.28% of columns this way)

631
633
622

In [24]:
# This is where I drop those columns (I just learned that I only need to drop one of the pairs to get rid of all the NaNs)

data = data[data['State'].isna() == False]
data = data[data['Months Since Last Claim'].isna() == False]
data = data[data['Vehicle Class'].isna() == False]

In [26]:
# Check if that worked
data.isna().sum()

Customer                            0
State                               0
Customer Lifetime Value             0
Response                            0
Coverage                            0
Education                           0
Effective To Date                   0
Employment Status                   0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim             0
Months Since Policy Inception       0
Number of Open Complaints           0
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                       0
Vehicle Size                        0
Vehicle Type                     4591
dtype: int64

### 5.2. In which our hero tackles the big beast that is Vehicle Type

In [30]:
#First order of business: see how many unique entries there are

len(data['Vehicle Type'].unique())
data['Vehicle Type'].unique()

array([nan, 'A'], dtype=object)

In [31]:
# It's only NaN and A. This gives me two options: either replace all the NaNs with A's (which gives a pointless data set), or drop the whole column
# I prefer dropping the whole column, to not have some useless data just hanging there.

In [33]:
data = data.drop(['Vehicle Type'], axis = 1)

In [35]:
# And then check if it worked
data.isna().sum()

Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
Employment Status                0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [17]:
# Finally, reset the index
data = data.reset_index(drop=True)

## 6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. _Hint_: If data from March does not exist, consider only January and February.

In [49]:
data['month'] = [item.month for item in pd.to_datetime(data['Effective To Date'], errors='coerce')]

#Not the prettiest oneliner, but it gets the job done

In [51]:
#Get data for the first quarter only
data[data['month']<=3]

,ID number,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,...,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,2
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN,1

In [ ]:
#PLOT TWIST: It was only ever data for January and February to begin with

## 7. BONUS: Put all the previously mentioned data transformations into a function.

In [2]:
import pandas as pd

def cleandata(file):
    
    #Read the data
    data = pd.read_csv(file)
    
    #Standardize header names
    data = data.rename(columns={'Unnamed: 0':'ID number', 'EmploymentStatus':'Employment Status'})
    
    #deal with NaN values
    data = data[data['State'].isna() == False]
    data = data[data['Months Since Last Claim'].isna() == False]
    data = data[data['Vehicle Class'].isna() == False]
    data = data.drop(['Vehicle Type'], axis = 1)
    
    #reset the index
    data = data.reset_index(drop=True)
    
    #months in separate column
    data['month'] = [item.month for item in pd.to_datetime(data['Effective To Date'], errors='coerce')]
    
    return data

In [3]:
# And then I run this function to see if it works (and to initialize for Lab 3 if I close the notebook and come back)

cleandata('./files_for_lab/csv_files/marketing_customer_analysis.csv')

data = cleandata('./files_for_lab/csv_files/marketing_customer_analysis.csv')

# And in the same cell, I also import pandas, numpy, and matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt